
/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* general width of all the website*/
.general-width {
  width: 80%;
  margin: auto;
}

body {
    font-size: 2em;
}

#title {
  font-family: 'Delius Unicase', cursive;
}

header {
  height: 140px;
}


#logo_banner {
  background: url(../img/banner.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 190px;
  border-top: 15px solid rgba(228,228,222,1);
  border-bottom: 15px solid rgba(228,228,222,1);
}

#search_frame {
  height: 100px;

}


main {
  margin: auto;
  background-color: rgba(228,228,222,1);
  height: 1000px;
  width: 100%;
  padding: 30px;
}

.video {
  padding: 10px;
  display: inline-block;
  float: left;
}

#logo {
  margin-top: 18px;
  width: 50px;
}








