
/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* general width of all the website*/
.general-width {
  width: 80%;
  margin: auto;
}

body {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

#title {
  font-family: 'Delius Unicase', cursive;
}

header {
  height: 140px;
}


#logo_banner {
  background: url(../img/banner.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 190px;
  border-top: 15px solid rgba(228,228,222,1);
  border-bottom: 15px solid rgba(228,228,222,1);
}



main {
  font-size: 0.7em;
  text-align: center;
  background-color: rgba(228,228,222,1);
  width: 100%;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 70px;
}


#search_frame {
  width: 100%;
  text-align: left;
  display: inline-block;
  height: 100px;
/*  position: absolute;
  z-index: 1;*/
  margin-bottom: 50px;
}

#democratic {
  padding: 30px;
  text-align: center;
  width: 100%;
  font-size: 0.8em
}

.wrap {
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  width: 425px;
  height: 280px;
  background-color: rgba(119,136,152,0.6);
  border-radius: 10px;
  opacity: 0.8;
}

.wrap:hover {
  background-color: rgba(99,174,235,0.6);
}

/*.logout_div_style {
  margin-top: 53px;
}*/

.video {
  margin: auto;
  display: inline-block;
}

#center-div {
  margin: auto;
}

.vinyl {
  width: 33px;
  float: left;
}



#logo {
  margin-top: 18px;
  width: 50px;
}

#sign_in_up {
  margin-top: 60px;
  float: right;
  display: inline;
}

#logo_container {
  float: left;
  display: inline;
}

#video_player {
  position: center;
  position: relative;
  z-index: 2;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.error_display {
  background-color: red;
  color: white;
}

.error_display_log_in {
  background-color: red;
  color: white;
}

#logout_div_style {
  margin-top: 30px;
  float: right;
  font-size: 0.8em;
}


footer {
  background-color: rgba(27,28,33,0.7);
}



/*BUTTONS STYLE*/

.button {
  text-decoration:none; text-align:center;
  padding:11px 18px;
  border:none;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius: 4px;
  font:18px Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#ffffff;
  background-color:#6f7475;
  background-image: -moz-linear-gradient(top, #6f7475 0%, #9da9ad 100%);
  background-image: -webkit-linear-gradient(top, #6f7475 0%, #9da9ad 100%);
  background-image: -o-linear-gradient(top, #6f7475 0%, #9da9ad 100%);
  background-image: -ms-linear-gradient(top, #6f7475 0% ,#9da9ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da9ad', endColorstr='#9da9ad',GradientType=0 );
  background-image: linear-gradient(top, #6f7475 0% ,#9da9ad 100%);
  -webkit-box-shadow:-3px 2px 6px #bababa;  -moz-box-shadow: -3px 2px 6px #bababa;  box-shadow:-3px 2px 6px #bababa;

  }

.button:hover {
  padding:11px 18px;
  border:none;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius: 4px;
  font:18px Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#ffffff;
  background-color:#6f7475;
  background-image: -moz-linear-gradient(top, #6f7475 0%, #9da9ad 100%);
  background-image: -webkit-linear-gradient(top, #6f7475 0%, #9da9ad 100%);
  background-image: -o-linear-gradient(top, #6f7475 0%, #9da9ad 100%);
  background-image: -ms-linear-gradient(top, #6f7475 0% ,#9da9ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da9ad', endColorstr='#9da9ad',GradientType=0 );
  background-image: linear-gradient(top, #6f7475 0% ,#9da9ad 100%);
   -webkit-box-shadow:0px 0px 6px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 6px #bababa,  inset 0px 0px 1px #ffffff;
   box-shadow:0px 0px 6px #bababa, inset 0px 0px 1px #ffffff;

 }

.button:active {
  padding:11px 18px;
  border:none;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius: 4px;
  font:18px Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#ffffff;
  background-color:#6f7475;
  background-image: -moz-linear-gradient(top, #6f7475 0%, #9da9ad 100%);
  background-image: -webkit-linear-gradient(top, #6f7475 0%, #9da9ad 100%);
  background-image: -o-linear-gradient(top, #6f7475 0%, #9da9ad 100%);
  background-image: -ms-linear-gradient(top, #6f7475 0% ,#9da9ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da9ad', endColorstr='#9da9ad',GradientType=0 );
  background-image: linear-gradient(top, #6f7475 0% ,#9da9ad 100%);
   -webkit-box-shadow:-3px 2px 6px #bababa, inset 0px 0px 1px #ffffff;
   -moz-box-shadow: -3px 2px 6px #bababa,  inset 0px 0px 1px #ffffff;
  box-shadow:-3px 2px 6px #bababa, inset 0px 0px 1px #ffffff;

   }


/* END BUTTON STYLE*/








