<!DOCTYPE html>
<html>
<head>
  <title>Selecta</title>
  <link href='https://fonts.googleapis.com/css?family=Delius+Unicase:400,700' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<header class='general-width'>

  <div id="logo_container">
    <img src="img/logo.png" alt="logo" id="logo">
    <p id="title">selecta</p>
  </div>

  <% if @current_user %>

    <div id="logout_div_style">

      <p>hello <%= @current_user.username %></p>

        <form method="POST" action="/logout">
          <button class="button" id="logout_button" type="submit" id="log_out" value="Log out">Log out</button>
        </form>

      </div>

  <% else %>

    <div id="sign_in_up">
     <a href="#openModal-log_in"><button class="button">Log in</button></a>
     <a href="#openModal-sign_up"><button class="button">Sign up</button></a>
    </div>

  <% end %>

</header>

<div id="style_pop_up">

<div id="openModal-log_in" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Log in</h2><br>

     <label for="username">Username:
      <input id="username" type="text" name="username" required>
    </label><br>

    <label for="password">Password:
      <input id="password" type="password" name="password" required>
    </label><br>

    <button class="button_inside_pop_up" id="log_in_button">Log in</button><br>

    <div class="error_display_log_in"></div>

  </div>
</div>

<div id="openModal-sign_up" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2 id="test">Sign up</h2><br>

    <label for="email">Email:
      <input id="signup_email" type="text" name="email" required>
    </label><br>

     <label for="username">Username:
      <input id="signup_username" type="text" name="username" required>
    </label><br>

    <label for="password">Password:
      <input id="signup_password" type="password" name="password">
    </label><br>

    <label for="confirmation">Password confirmation:
      <input id="signup_passw_conf" type="password" name="password-confirmation">
    </label><br>


    <button class="button_inside_pop_up" id="sign_up_button">Sign up</button>

    <div class="error_display"></div>

  </div>
</div>

</div>



<div id="logo_banner">&nbsp;</div>

<p id="democratic">Selecta tune - Submit a tune - Democratic music.</p>


<main class="clearfix box">

<div id="search_frame" class="clearfix box">


<gcse:search></gcse:search>
</div>

<div id="center-div">

  <% @links.each do |link| %>

  <div class="wrap">
      <div class="video">
        <iframe width="400" height="225" src=<%="https://www.youtube.com/embed/#{link.url}" %> frameborder="0" allowfullscreen></iframe>
        <a href=""><img id="<%=link.id%>" class="vinyl" src="img/vinyl1.png"></a>
        <p class="likes_counter"><%=link.likes.count%> likes</p>
      </div>
  </div>
  <% end %>


  </div>


</main>


<footer>&nbsp;</footer>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="javascript/main.js"></script>

</body>
</html>
