<!DOCTYPE html>
<html>
<head>
  <title>Selecta</title>
  <link href='http://fonts.googleapis.com/css?family=Delius+Unicase:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<header class='general-width'>

  <div id="logo_container">
    <img src="img/logo.png" alt="logo" id="logo">
    <p id="title">selecta</p>
  </div>

  <div id="sign_in_up">
   <button class="button">Log in</button>
   <button class="button">Sign up</button>
  </div>

</header>



<div id="logo_banner">&nbsp;</div>



<!-- <div id="video_player"></div> -->



<main class="clearfix box">

<div id="search_frame" class="clearfix box">

<gcse:search></gcse:search>
</div>

<div id="center-div">

  <% @links.each do |link| %>

  <div class="wrap">
      <div class="video">
        <iframe width="400" height="225" src=<%="https://www.youtube.com/embed/#{link.url}" %> frameborder="0" allowfullscreen></iframe>
        <p>Like</p>
      </div>
  </div>
  <% end %>

  <!-- <div class="wrap">
    <div class="video">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/QjCiLzm-0kI" frameborder="0" allowfullscreen></iframe>
      <p>Like</p>
    </div>
  </div>

  <div class="wrap">
    <div class="video">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/5Xj-PNIF_Ts" frameborder="0" allowfullscreen></iframe>
      <p>Like</p>
    </div>
  </div>

  <div class="wrap">
    <div class="video">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/Yq5t_TBZq1I" frameborder="0" allowfullscreen></iframe>
      <p>Like</p>
    </div>
  </div>

  <div class="wrap">
    <div class="video">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/YkADj0TPrJA" frameborder="0" allowfullscreen></iframe>
      <p>Like</p>
    </div>
  </div>

  <div class="wrap">
    <div class="video">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/Kjgwjh4H7wg" frameborder="0" allowfullscreen></iframe>
      <p>Like</p>
    </div>
  </div> -->

  </div>


</main>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="javascript/main.js"></script>

</body>
</html>
